@import url(variables.css);
@import url(common.css);

body {
  background-color:var(--theme-body-background);
  /* The Firefox font isn't loading in. */
  --monospace-font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

.rules-sidebar {
  position: absolute;
  top: 0;
  left: 60%;
  right: 0;
  bottom: 0;
  border-left: 1px solid var(--theme-splitter-color);
  background-color: var(--theme-sidebar-background);
}

.rule {
  padding: 0.25em;
}

.rule-selector {
  font-family: var(--monospace-font-family)
}

.rule-selector-text {
  color: var(--theme-highlight-blue);
  display: inline-block;
}

.rule-selector-bracket {
  padding: 0 0.5em;
}

.rule-declarations {
  margin: 0.5em 0;
}

.rule-declaration-editor {
  background: none;
  border: none;
  padding: 0em 0.5em;
  margin: 0;
  font-size: 1em;
  font-family: var(--monospace-font-family);
}
.rule-declaration-editor-button {
  cursor: pointer;
}

.rule-declaration-editor-button > span {
  border-bottom: 1px dotted transparent;
}

.rule-declaration-editor-button:hover > span {
  border-bottom: 1px dotted var(--theme-selection-background);
}

.rule-declaration-name {
  color: var(--theme-highlight-red);
}

.rule-declaration-colon {
  font-family: var(--monospace-font-family)
}

.rule-declaration {
  /* localization :.( */
  margin-left:1em;
}

.rule-declaration-close {
  font-family: var(--monospace-font-family);
}

.rule + .rule {
    border: 1px dotted var(--theme-splitter-color);
}
