@import url(variables.css);
@import url(common.css);

body {
  background-color:var(--theme-body-background);
  /* The Firefox font isn't loading in. */
  --monospace-font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

.rules-sidebar {
  position: absolute;
  top: 0;
  left: 60%;
  right: 0;
  bottom: 0;
  border-left: 1px solid var(--theme-splitter-color);
  background-color: var(--theme-sidebar-background);
}

.rule {
  padding: 0.25em;
  border-bottom: 1px dotted var(--theme-splitter-color);
}

.rule-selector {
  font-family: var(--monospace-font-family)
}

.rule-selector-text {
  color: var(--theme-highlight-blue);
  display: inline-block;
}

.rule-selector-bracket {
}

.rule-declarations {
  margin: 0.5em 0;
}

.rule-declaration-editor {
  background: none;
  border: none;
  padding: 0em;
  margin: 0;
  font-size: 1em;
  font-family: var(--monospace-font-family);
}

.rule-declaration-editor-button {
  cursor: pointer;
  -moz-user-select: text;
  user-select: text;
  border-bottom: 1px dotted transparent;
}

.rule-declaration-editor-button:hover {
  border-bottom: 1px dotted var(--theme-selection-background);
}

.rule-declaration-name {
  color: var(--theme-highlight-red);
}

.rule-declaration {
  display: flex;
  line-height: 1.35;
}

.rule-declaration > span {
  white-space: pre;
  font-family: var(--monospace-font-family);
  border-bottom: 1px dotted transparent;
}

.rule-declaration-close {
  font-family: var(--monospace-font-family);
}

.commentary {
  position:absolute;
  bottom: 1em;
  left: 1em;
  max-width: 500px;
}

.rule-enter {
  opacity: 0.01;
  transform: translateY(2em);
}

.rule-enter.rule-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-out, transform 200ms ease-out;
  transform: translateY(0);
}

.rule-leave {
  opacity: 1;
}

.rule-leave.rule-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
